# Module 4: Data Manipulation with Pandas

## <span style="color:darkblue"> Review </span>

<font size="5"> 

- Import data frame from a differnt folder using Pandas

- Select data by column name ```DataFrame['column_name']```

In [2]:
import os 
os.getcwd()

'c:\\Users\\juane\\OneDrive - Emory University\\EmoryUniversity\\Courses\\QTM151\\qtm151-notes\\lecture14'

In [3]:
import pandas as pd
fifa = pd.read_csv('../lecture12/fifa23_players.csv')

In [8]:
fifa[['Full Name', 'Overall']]

                Full Name  Overall
0            Lionel Messi       91
1           Karim Benzema       91
2      Robert Lewandowski       91
3         Kevin De Bruyne       91
4           Kylian Mbappé       91
...                   ...      ...
18534      Darren Collins       47
18535        Dejiang Yang       47
18536         Liam Mullan       47
18537    Daithí McCallion       47
18538         Nabin Rabha       47

[18539 rows x 2 columns]

In [5]:
fifa.columns

Index(['Known As', 'Full Name', 'Overall', 'Potential', 'Value(in Euro)',
       'Positions Played', 'Best Position', 'Nationality', 'Image Link', 'Age',
       'Height(in cm)', 'Weight(in kg)', 'TotalStats', 'BaseStats',
       'Club Name', 'Wage(in Euro)', 'Release Clause', 'Club Position',
       'Contract Until', 'Club Jersey Number', 'Joined On', 'On Loan',
       'Preferred Foot', 'Weak Foot Rating', 'Skill Moves',
       'International Reputation', 'National Team Name',
       'National Team Image Link', 'National Team Position',
       'National Team Jersey Number', 'Attacking Work Rate',
       'Defensive Work Rate', 'Pace Total', 'Shooting Total', 'Passing Total',
       'Dribbling Total', 'Defending Total', 'Physicality Total', 'Crossing',
       'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys',
       'Dribbling', 'Curve', 'Freekick Accuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'Standing Tackle', 'Sliding Tackle',
       'Goalkeeper Diving', 'Goalkeeper Handling', ' GoalkeeperKicking',
       'Goalkeeper Positioning', 'Goalkeeper Reflexes', 'ST Rating',
       'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating',
       'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating',
       'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating',
       'GK Rating'],
      dtype='object')

# <span style="color:darkblue"> Topics we did not cover the last time </span>

## <span style="color:darkblue"> 1. Selection by label </span>

<font size="5"> 

- If you want to extract a subset of rows and a subset of columns, you have to use the notation ```DataFrame.loc[]```

**Task:**

- Extract only the name, nationality and overall of the players in the rows 15 to 20

In [17]:
fifa.loc[15:20, ['Full Name', 'Overall', 'Nationality']]

                       Full Name  Overall Nationality
15                    Sadio Mané       89     Senegal
16     Ederson Santana de Moraes       89      Brazil
17                Joshua Kimmich       89     Germany
18         Alisson Ramses Becker       89      Brazil
19                  N'Golo Kanté       89      France
20  Rúben Santos Gato Alves Dias       88    Portugal

## <span style="color:darkblue"> 2. Selection by position </span>

<font size="5"> 

- You can select all columns of a given row by passing its position as an integer using ```DataFrame.iloc``` 

**Task:** 

- Use ```DtaFrame.sort_values()``` and ```DataFrame.iloc``` to see all the columns for the with the highest wage ```Wage(in Euro)```

In [22]:
fifa_sorted = fifa.sort_values('Wage(in Euro)', ascending = False)

In [23]:
fifa_sorted.iloc[0]

Known As             K. Benzema
Full Name         Karim Benzema
Overall                      91
Potential                    91
Value(in Euro)         64000000
                      ...
RWB Rating                   67
LB Rating                    63
CB Rating                    58
RB Rating                    63
GK Rating                    21
Name: 1, Length: 89, dtype: object

In [19]:
fifa.iloc[0]

Known As              L. Messi
Full Name         Lionel Messi
Overall                     91
Potential                   91
Value(in Euro)        54000000
                      ...
RWB Rating                  67
LB Rating                   62
CB Rating                   53
RB Rating                   62
GK Rating                   22
Name: 0, Length: 89, dtype: object

<font size="5"> 

- You can also use slicing for both the rows and the columns 

- Let's check the top three wages and just display the columns 1 to 10

In [25]:
fifa_sorted.iloc[0:3, 1:10]

,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age
1,Karim Benzema,91,91,64000000,"CF,ST",CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34
2,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33
3,Kevin De Bruyne,91,91,107500000,"CM,CAM",CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31

<font size="5"> 

- Finally, you can also pass lists with rows and columns positions

- For instance get the rows 1, 5, and 100 and the columns 1, 7 and 10

In [26]:
fifa_sorted.iloc[[1,5,100], [1, 7, 10]]

                          Full Name Nationality  Height(in cm)
2                Robert Lewandowski      Poland            185
23   Bernardo Mota Carvalho e Silva    Portugal            173
323                 Marcus Rashford     England            186

# <span style="color:darkblue"> Today: Filter data frame based on conditions and the groupby() function </span>

## <span style="color:darkblue"> 1. Filter data frame based on conditions</span>

<font size="5"> 

- On last class we counted the number of Brazilian players by first getting ```Series``` nationality and then using a labmbda function + filter

- There is a direct way to perform the same task only using Pandas function

- The approach is called **Boolean Indexing**

1. We can return a vector of booleans by applying a logical statement to a Pandas Series. **Example:** check if the Nationality name equals the string ```'Brazil'```

<font size="5"> 

2. You can use the slicing notation to select the rows in the data frame where the condition we imposed is ```True```. **Example:** keep only the rows with Brazilian players. How many Brazilian players are there?

<font size="5"> 

- keep only the rows with Colombian players. How many Colombian players are there?

<font size="5"> 

- What if you only want to keep a subset of the total number of columns?


- **Example:** get the full name, the nationality, and the Wage(in Euro) only for Brazilian players

<font size="5"> 

- What if we want the same information as before for both Colombian and Brazilian players?

## <span style="color:darkblue"> 2. The groupby() function</span>

<font size="5"> 

- We use the ```groupby()``` function when we want to calculate an statistic of a variable (or different variables) for different subgroups in the data

- For example, let's explore the variable for the players' Wage in Euros

1. What is the average wage for all players in the data:

<font size="5"> 

- We can transform that value to dollars using the following exchange rate: 1 Euro can be exchanged for 0.98 dollars

<font size="5"> 

- Now, let's imagine that we want to compare the average value of Brazilian and Colombian players

<font size="5"> 

1. Create a new data frame with only players from Brazil and Colombia and keep only the nationality and valuation columns

<font size="5"> 

2. Use ```groupby()``` and the statistic mean() to calculate average value for Colombian and Brazilian players