# Module 4: Data Manipulation with Pandas

## <span style="color:darkblue"> Review </span>

<font size="5"> 

- Import data frame from a differnt folder using Pandas

- Select data by column name ```DataFrame['column_name']```

In [ ]:
import os 
os.getcwd()

In [ ]:
import pandas as pd
fifa = pd.read_csv('../lecture12/fifa23_players.csv')

# <span style="color:darkblue"> Topics we did not cover the last time </span>

## <span style="color:darkblue"> 1. Selection by label </span>

<font size="5"> 

- If you want to extract a subset of rows and a subset of columns, you have to use the notation ```DataFrame.loc[]```

**Task:**

- Extract only the name, nationality and overall of the players in the rows 15 to 20

## <span style="color:darkblue"> 2. Selection by position </span>

<font size="5"> 

- You can select all columns of a given row by passing its position as an integer using ```DataFrame.iloc``` 

**Task:** 

- Use ```DtaFrame.sort_values()``` and ```DataFrame.iloc``` to see all the columns for the with the highest wage ```Wage(in Euro)```

<font size="5"> 

- You can also use slicing for both the rows and the columns 

- Let's check the top three wages and just display the columns 1 to 10

<font size="5"> 

- Finally, you can also pass lists with rows and columns positions

- For instance get the rows 1, 5, and 100 and the columns 1, 7 and 10

# <span style="color:darkblue"> Today: Filter data frame based on conditions and the groupby() function </span>

## <span style="color:darkblue"> 1. Filter data frame based on conditions</span>

<font size="5"> 

- On last class we counted the number of Brazilian players by first getting ```Series``` nationality and then using a labmbda function + filter

- There is a direct way to perform the same task only using Pandas function

- The approach is called **Boolean Indexing**

1. We can return a vector of booleans by applying a logical statement to a Pandas Series. **Example:** check if the Nationality name equals the string ```'Brazil'```

<font size="5"> 

2. You can use the slicing notation to select the rows in the data frame where the condition we imposed is ```True```. **Example:** keep only the rows with Brazilian players. How many Brazilian players are there?

<font size="5"> 

- keep only the rows with Colombian players. How many Colombian players are there?

<font size="5"> 

- What if you only want to keep a subset of the total number of columns?


- **Example:** get the full name, the nationality, and the Wage(in Euro) only for Brazilian players

<font size="5"> 

- What if we want the same information as before for both Colombian and Brazilian players?

## <span style="color:darkblue"> 2. The groupby() function</span>

<font size="5"> 

- We use the ```groupby()``` function when we want to calculate an statistic of a variable (or different variables) for different subgroups in the data

- For example, let's explore the variable for the players' Wage in Euros

1. What is the average wage for all players in the data:

<font size="5"> 

- We can transform that value to dollars using the following exchange rate: 1 Euro can be exchanged for 0.98 dollars

<font size="5"> 

- Now, let's imagine that we want to compare the average value of Brazilian and Colombian players

<font size="5"> 

1. Create a new data frame with only players from Brazil and Colombia and keep only the nationality and valuation columns

<font size="5"> 

2. Use ```groupby()``` and the statistic mean() to calculate average value for Colombian and Brazilian players