# Module 6: Data Manipulation with SQL

# <span style="color:darkblue"> Last Classes Review: </span>

<font size="5"> 

- How to create tables in a database using CSV files

- Select, filter and sort

- Statistical plots using Python

## <span style="color:darkblue"> Today: </span>

<font size="5"> 

- SQL join statements 

- Join types and examples

- Group by statement

## <span style="color:darkblue"> The join statement </span>

<font size="5"> 

We use the SQL join statement to combine data or rows from two or more tables based on a common field between them. Different types of Joins are as follows: 

- INNER JOIN

- LEFT JOIN

- RIGHT JOIN

- FULL JOIN

## <span style="color:darkblue"> 1.1. The Inner Join </span>

<font size="5"> 

- Creates the result-set by combining all rows from both the tables where the condition is satisfied -->  where the values of the common field are the same

<img src="inner.png" alt="drawing" width="450"/>

```sql
SELECT table1.column1, table1.column2, table2.column1, table2.column2, ....
FROM table1 
INNER JOIN table2
ON table1.matching_column = table2.matching_column;
```

- **table1:** left table.
- **table2:** right table
- **matching_column:** common column in both tables.

## <span style="color:darkblue"> 1.2. The Left Join </span>

<font size="5"> 

- Returns all the rows of the table on the **left** side of the join and **matches rows** for the table on the right side of the join

- For the rows for which there is no matching row on the right side, the result-set will contain null

- LEFT JOIN is also known as LEFT OUTER JOIN

<img src="left.png" alt="drawing" width="450"/>

```sql
SELECT table1.column1, table1.column2, table2.column1, table2.column2, ....
FROM table1 
LEFT JOIN table2
ON table1.matching_column = table2.matching_column;
```

## <span style="color:darkblue"> 1.3. The Right Join </span>

<font size="5"> 

- Returns all the rows of the table on the **right** side of the join and **matches rows** for the table on the left side of the join

- For the rows for which there is no matching row on the left side, the result-set will contain null

- RIGHT JOIN is also known as RIGHT OUTER JOIN

<img src="right.png" alt="drawing" width="550"/>

```sql
SELECT table1.column1, table1.column2, table2.column1, table2.column2, ....
FROM table1 
LEFT JOIN table2
ON table1.matching_column = table2.matching_column;
```

### **Example:**

<font size="5"> 

- There are five drivers with more than three championships: Michael Schumacher (7), Lewis Hamilton (7), Juan Manuel Fangio (5), Alain Prost (4) and Sebastian Vettel (4)

- Let's create a new table only containing drivers with more than three championships. We can use the following query:

```sql
    CREATE TABLE f1_tables.winners
    AS
    SELECT *
    FROM f1_tables.drivers
    WHERE (forename = 'Michael' AND surname = 'Schumacher') 
    OR (forename = 'Michael' AND surname = 'Hamilton') 
    OR surname = 'Fangio' OR surname = 'Prost' OR surname = 'Vettel'
```

<font size="5"> 

1. Perform an ```INNER JOIN``` for the ```results``` and the ```winners``` table. 

    - How many rows do we have in the resulting table? 

    - For those rows, how many have null values for the ```driverId``` column in the winners table? (use WHERE driverid IS NULL)

2. Perform a ```LEFT JOIN``` and a ```RIGHT JOIN``` for the same tables. How do the results for the previous two questions change?

**Solutions:**

- For question 1

```sql
    SELECT *
    FROM f1_tables.results
    INNER JOIN f1_tables.winners
    ON results.driverid = winners.driverid; 
```

```sql
    SELECT COUNT(*)
    FROM f1_tables.results
    INNER JOIN f1_tables.winners
    ON results.driverid = winners.driverid; 
```

```sql
    SELECT COUNT(*)
    FROM f1_tables.results
    INNER JOIN f1_tables.winners
    ON results.driverid = winners.driverid 
    WHERE winners.driverid IS NULL;
```

- For question 2 (same for RIGHT JOIN)

```sql
    SELECT COUNT(*)
    FROM f1_tables.results
    LEFT JOIN f1_tables.winners
    ON results.driverid = winners.driverid; 
```

```sql
    SELECT COUNT(*)
    FROM f1_tables.results
    LEFT JOIN f1_tables.winners
    ON results.driverid = winners.driverid 
    WHERE winners.driverid IS NULL;
```

## <span style="color:darkblue"> 1.4. The Full Join </span>

<font size="5"> 

- FULL JOIN creates the result-set by combining results of both LEFT JOIN and RIGHT JOIN

- The result-set will contain all the rows from both tables 

- For the rows for which there is no matching, the result table will contain NULL values

<img src="full.png" alt="drawing" width="450"/>

## <span style="color:darkblue"> 2. The GROUP BY statement  </span>

<font size="5"> 

- We use this clause in collaboration with the ```SELECT``` statement to arrange identical data into groups

- We use aggregate functions such as SUM or COUNT to calculate values of interest for the subgroups

- Basic syntax:

```sql 
    SELECT column1, column2
    FROM table_name
    WHERE [ conditions ]
    GROUP BY column1, column2
```

**Example:**

1. Use the ```results``` table to get the total points for each driver 

2. Call the SUM(results) column ```total_points```

3. Order by the total_points column

4. Save the result as a new table and call it ```points_driver```

**Solution:**

```sql
    CREATE TABLE f1_tables.points_driver
    AS
    SELECT driverid, SUM(points) AS total_points 
    FROM f1_tables.results
    GROUP BY driverid
    ORDER BY total_points DESC
```

**Combining both:**

<font size="5"> 

- Join the newly created point_driver table with the drivers table 

- Select the total_points, forename and surname

- Are the most championship winners in the top 5?

**Solution:**

```sql 
    SELECT total_points, drivers.forename, drivers.surname, winners.surname AS winners
    FROM f1_tables.points_driver
    JOIN f1_tables.drivers
    ON points_driver.driverid = drivers.driverid
    LEFT JOIN f1_tables.winners 
    ON points_driver.driverid = winners.driverid
    ORDER BY total_points DESC
```