# <span style="color:darkblue"> 1. Pandas Apply Method </span>

<font size="5"> 

- We learned how to use for loops to perform a task to all the elements of an iterable like a list or an array

- We could also do the same with a Pandas ```Series``` 

- **Example:** we want to count the number of words separated by a space in the Job Title column fro the ```SanFrancisco_salary.csv``` data

In [8]:
import pandas as pd
salary = pd.read_csv('../../assignments/in_class_ex/data/SanFrancisco_salary.csv')

In [39]:
type(salary['JobTitle'])

pandas.core.series.Series

In [40]:
words = []
for text in salary['JobTitle']:
    words.append(len(text.split(' ')))

<font size="5"> 

- However, loops could be inefficient 

- Pandas provides the ```apply()``` method as an alternative for using a loop to iterate over a ```Series``` or a ```DataFrame```

- We can simplify the task in the previous example by using apply:

1. We need to create a function that takes a ```string``` as an input and calculate the number of words separated by a space

In [42]:
def count_words(string):
    return len(string.split(' '))

In [43]:
salary['JobTitle'][0]

'Lieutenant, Fire Suppression'

In [44]:
count_words(salary['JobTitle'][0])

3

<font size="5"> 

2. Use the user defined function ```count_words``` and the ```apply``` method

In [49]:
salary['JobTitle'].apply(count_words)

0         3
1         3
2         3
3         3
4         1
         ..
111876    4
111877    3
111878    3
111879    1
111880    1
Name: JobTitle, Length: 111881, dtype: int64

# <span style="color:darkblue"> 2. Use a lambda function with apply </span>

<font size="5"> 

- Instead of defining the function ```count_words``` we could have used a lambda function

In [50]:
salary['JobTitle'].apply(lambda x: len(x.split(' ')))

0         3
1         3
2         3
3         3
4         1
         ..
111876    4
111877    3
111878    3
111879    1
111880    1
Name: JobTitle, Length: 111881, dtype: int64

# <span style="color:darkblue"> 3. Use apply to send all rows to a function </span>

<font size="5"> 

- In the previous example, we pass all the values **in a column** to the function we created 

- We can also pass all the rows for a set of columns to a function

- **Example:**  calculate the proportion of the total pay that comes from benefits for all employees

In [51]:
salary.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Department,Department_ML
0,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,Fire,4
1,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,Other,2
2,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,Not dep,5
3,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,Other,2
4,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,Other,2

In [52]:
psalary = salary[salary['TotalPay']>0]

In [53]:
psalary.apply(lambda rows: rows['Benefits']/rows['TotalPay'], axis = 1)

0         0.122449
1         0.217104
2         0.157858
3         0.228898
4         0.131784
            ...
111853    0.000000
111854    0.000000
111855    0.009738
111856    0.000000
111857    0.206667
Length: 111808, dtype: float64

In [54]:
44430.12/362844.66

0.12244942505148072